/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

div#datetimepicker {position: relative; }
table td {     padding: 3px !important;}

body {     font-family: Verdana;}

.bold { font-weight:bold;}
.red { color:red;}
.orange { color:orange;}
.grey { color:grey;}
.green { color:green;}
.quickhref { color:#DDD; }
.quickhref:hover { color:#FFF; }
.starter-template {     margin: 40px; }
.container1 { 
    margin-top: 50px; }

 #main-container1 {     min-height: 1000px; }

.edit_task, .new_task, .new_category, .edit_category {
    padding: 20px;
    background: #DDD;
    border: 1px solid #AAA;
    border-radius: 5px;
    }

.glyphicon { font-size:15px;}

.navbar-icon { font-size:30px;}
div {     font-weight: normal;}
li.navbar-txt a{
padding: 7px 14px;
    margin: 8px;    font-size: 21px;
    }
li.navbar-txt a:hover { background:#5cb85c !important;}

.task_actions_lists li { list-style:none;display:inline-block;margin-left: 8px;}
.task_actions_lists li a { color: #777; text-decoration:none;}
.task_actions_lists li a:hover { color: #000; }	
