/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.quickhref { color:#DDD; }
.quickhref:hover { color:#FFF; }

.container1 { 
    margin-top: 50px; }

 #main-container1 {     min-height: 1000px; }

 textarea, input { height: 50px;
    border-radius: 5px;
    border: 1px solid #DDD;
    box-shadow: none;
    font-size: 30px;
    color: #545f9e;padding:10px;     width: 100%;}