<div class='page-header'><h1>Categories</div>
<div class='posts'>
<% if @categories.each do |c| %>
<%= link_to  c.name,c %>
<BR>
<BR>
<% end.empty? %>
<i><p>There are no categories created yet.</p></i>
<% end %>
</div>
<BR>
<hr>
<BR>

<%= link_to "Add New Category" , new_category_path , class: 'btn btn-success' %>
